<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.p1_url }}" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="Project 1">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.p1_category }}
                            </div>
                            <div class="project-name">
                                {{ site.p1_name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.p2_url }}" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="Project 2">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.p2_category }}
                            </div>
                            <div class="project-name">
                                {{ site.p2_name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.p3_url }}" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Project 3">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.p3_category }}
                            </div>
                            <div class="project-name">
                                {{ site.p3_name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
